<section class="jumbotron talent-jumbotron d-flex align-items-end" style="background: linear-gradient(rgba(37, 37, 37, 0), rgb(39, 39, 39)), url('/assets/talents/share-your-talent-blendin.jpg') no-repeat top center; background-size:cover; color:#FFF; padding: 6rem 0;">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('.title') %></h1>
    <p class="lead"><%= t('.subtitle') %></p>
    <div>
      <%= link_to "Get started", new_talent_path, class: "btn btn-primary btn-lg" %>
      <a href="#learn-more-talent" class="btn btn-outline-light btn-lg">Learn more</a>
    </div>
  </div>
</section>
