<div class="message" data-user="<%= message.user.id %>">
  <%= message.body %>
  <span class="metadata">
      <span class="time"><%= message.timestamp %></span><span class="tick"></span>
  </span>
</div>


