<div class="columns">
	<div class="column centered col-5">
		<div class="text-center">
		<%=  image_tag("sad_berry_hoop.jpeg", class: "img-responsive sad-berry")  %> 
		<h5>No messages.</h5>
		<p>Start to berry someone  <%= link_to "here", root_path %></p>
		</div>
	</div>
</div>


