/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history
/node_modules
*.crs
*.key
/config/secrets.yml
.DS_Store
/public/packs-test
/node_modules
dump.rdb
public/uploads/*

# Ignore application configuration
/config/application.yml
/config/initializers/carrierwave.rb
