<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>

    <p>You have some unread messages today!</p>
    <p>
      check it here: <a href="http://blendinow.nl/rooms">Link</a>
    </p>
    <p>We hope you enjoy Blendin :),</p>

    <p>Blendin Team</p>
  </body>
</html>