<a class="btn btn-lg btn-primary btn-block my-3 fb-btn" href="/users/auth/facebook">
  <i class="fab fa-facebook-f"></i>
  <%= t('devise.shared.links.sign_in_with_provider', provider: "Facebook") %>
</a>
