<div class="clearfix mxn1 logo mt1">
  <div class="sm-col sm-col-6 center">
    <%= image_tag('logo-app.png') %>
  </div>
  <div class="sm-col sm-col-6 center ">
    <%= image_tag('logo-doneer.png', id:'doneer-logo') %>
  </div>
</div>
<!-- <div class="logo">
  <%= image_tag('logo-app.png') %>
  <%= image_tag('logo-doneer.png') %>
</div> -->
