<section class="clearfix">
  <div class="sm-col-5 lg-col-5 mx-auto">
    <div class="center">
      <p class="center"><%= raw t('.thank_you_message') %></p>
      <br />
      <img src="https://i.giphy.com/26gsjCZpPolPr3sBy.gif" width="300" />
      <br /><br />
      <a href="https://blendinnow.nl">Blendin Team</a>
    </div>
  </div>
</section>
