/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import url(basscss.css);
@import url("https://fonts.googleapis.com/css?family=Crete+Round|Quicksand");
@import url(main.css);
@import url(components/Auth.css);
@import url(components/Header.css);
@import url(components/Carousel.css);
@import url(components/Input.css);
@import url(components/Label.css);
@import url(components/Button.css);
@import url(components/Wizard.css);
@import url(components/DateTime.css);
@import url(components/Nav.css);
@import url(components/Profile.css);
@import url(components/Tags.css);
@import url(components/Modal.css);
/* line 5, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.CardsContainer {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
}

/* line 15, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.CardWrap {
  margin: 10px;
  transform: perspective(800px);
  -webkit-transform: perspective(800px);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  cursor: pointer;
}
/* line 24, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.CardWrap:hover .CardBg {
  opacity: 0.9;
}
/* line 36, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.CardWrap:hover .CardInfo:after {
  transition: 1s cubic-bezier(0.4, 1, 0.32, 1);
  opacity: .4;
  transform: translateY(0);
}

/* line 45, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.Card {
  position: relative;
  flex: 0 0 240px;
  width: 280px;
  height: 330px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.42) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.4, 1, 0.32, 1), box-shadow 1s cubic-bezier(0.4, 1, 0.32, 1);
}

/* line 57, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.CardBg {
  opacity: 0.9;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.4, 0.58, 0.57, 1), opacity 0.4s cubic-bezier(0.4, 0.58, 0.57, 1);
  -webkit-transition: 1s cubic-bezier(0.4, 0.58, 0.57, 1), opacity 0.4s cubic-bezier(0.4, 0.58, 0.57, 1);
  pointer-events: none;
}

/* line 71, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.CardInfo {
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  z-index: 1;
}
/* line 79, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.CardInfo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.4, 0.58, 0.57, 1);
}

/* line 93, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
.CardInfo h1 {
  width: 85%;
  font-family: 'Crete Round', serif;
  font-size: 2em;
  margin: 0;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
  line-height: 1.1em;
}

@media only screen and (min-width: 64em) {
  /* line 105, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
  .Card {
    width: 240px;
    height: 320px;
  }

  /* line 109, /Users/luca/code/blendinme/app/assets/stylesheets/components/Card.scss */
  .CardBg {
    opacity: 0.6;
  }
}
/*===============================
=            Choices            =
===============================*/
/* line 24, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices {
  position: relative;
  margin-bottom: 0;
  font-size: 1em;
}
/* line 28, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices:focus {
  outline: none;
}
/* line 29, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices:last-child {
  margin-bottom: 0;
}
/* line 31, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
  background-color: #EAEAEA;
  cursor: not-allowed;
  user-select: none;
}
/* line 36, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices.is-disabled .choices__item {
  cursor: not-allowed;
}

/* line 40, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"] {
  cursor: pointer;
}
/* line 42, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 7.5px;
}
/* line 43, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"] .choices__input {
  display: block;
  max-width: 100%;
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  margin: 0;
}
/* line 51, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"] .choices__button {
  background-image: url("../../icons/cross-inverse.svg");
  padding: 0;
  background-size: 8px;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: .5;
}
/* line 65, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"] .choices__button:hover, .choices[data-type*="select-one"] .choices__button:focus {
  opacity: 1;
}
/* line 66, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"] .choices__button:focus {
  box-shadow: 0px 0px 0px 2px #00BCD4;
}
/* line 68, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"]:after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}
/* line 81, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"].is-open:after {
  border-color: transparent transparent #333333 transparent;
  margin-top: -7.5px;
}
/* line 86, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"][dir="rtl"]:after {
  left: 11.5px;
  right: auto;
}
/* line 90, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-one"][dir="rtl"] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0;
}

/* line 100, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-multiple"] .choices__inner, .choices[data-type*="text"] .choices__inner {
  cursor: text;
}
/* line 101, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-right: -4px;
  margin-bottom: 0;
  margin-left: 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url("../../icons/cross.svg");
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: .75;
}
/* line 115, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices[data-type*="select-multiple"] .choices__button:hover, .choices[data-type*="select-multiple"] .choices__button:focus, .choices[data-type*="text"] .choices__button:hover, .choices[data-type*="text"] .choices__button:focus {
  opacity: 1;
}

/* line 119, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__inner {
  display: inline-block;
  vertical-align: top;
  min-width: 95%;
  padding: 0.7em 0 0.7em 0.7em;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.02);
  font-size: 1em;
  min-height: 48px;
  overflow: hidden;
}
/* line 131, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.is-focused .choices__inner, .is-open .choices__inner {
  border-color: #b7b7b7;
}
/* line 132, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.is-open .choices__inner {
  border-radius: 2.5px 2.5px 0 0;
}
/* line 133, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.is-flipped.is-open .choices__inner {
  border-radius: 0 0 2.5px 2.5px;
}

/* line 136, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* line 142, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}
/* line 146, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
[dir="rtl"] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}
/* line 150, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--single .choices__item {
  width: 100%;
}

/* line 153, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--multiple {
  display: inline;
}
/* line 155, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 1em;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00BCD4;
  border: 1px solid #00a5bb;
  color: #FFFFFF;
  word-break: break-all;
}
/* line 168, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}
/* line 169, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
[dir="rtl"] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}
/* line 173, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1;
}
/* line 177, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.is-disabled .choices__list--multiple .choices__item {
  background-color: #aaaaaa;
  border: 1px solid #919191;
}

/* line 184, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--dropdown {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
}
/* line 197, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--dropdown.is-active {
  display: block;
}
/* line 198, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.is-open .choices__list--dropdown {
  border-color: #b7b7b7;
}
/* line 199, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.is-flipped .choices__list--dropdown {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: .25rem .25rem 0 0;
}
/* line 206, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--dropdown .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}
/* line 213, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--dropdown .choices__item {
  position: relative;
  padding: 10px;
  font-size: 1em;
}
/* line 217, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
[dir="rtl"] .choices__list--dropdown .choices__item {
  text-align: right;
}
@media (min-width: 640px) {
  /* line 219, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
  .choices__list--dropdown .choices__item--selectable {
    padding-right: 100px;
  }
  /* line 222, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
  .choices__list--dropdown .choices__item--selectable:after {
    content: attr(data-select-text);
    font-size: 1em;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  /* line 231, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
  [dir="rtl"] .choices__list--dropdown .choices__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }
  /* line 235, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
  [dir="rtl"] .choices__list--dropdown .choices__item--selectable:after {
    right: auto;
    left: 10px;
  }
}
/* line 241, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}
/* line 243, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  opacity: .5;
}

/* line 248, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__item {
  cursor: default;
}

/* line 249, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__item--selectable {
  cursor: pointer;
}

/* line 250, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__item--disabled {
  cursor: not-allowed;
  user-select: none;
  opacity: .5;
}

/* line 256, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__heading {
  font-weight: 600;
  font-size: 1em;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray;
}

/* line 264, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/* line 273, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__button:focus {
  outline: none;
}

/* line 276, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #FFFFFF;
  font-size: 1em;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}
/* line 286, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__input:focus {
  outline: 0;
}
/* line 287, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
[dir="rtl"] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

/* line 293, /Users/luca/code/blendinme/app/assets/stylesheets/components/choices.scss */
.choices__placeholder {
  opacity: .5;
}

/*=====  End of Choices  ======*/
