<div class="columns">
  <div class="column col-12 centered">
    <h2>Do you want to connect with <b><%= @user.name %></b>?</h2>
    <p>Our team will help you to set up a meeting with <b><%= @user.name %></b> based on your preferences and location. <br /> By pressing <b>confirm</b> we are going to take you request and make it happen!</p>
    <p>Usually we take from one to two days to organize all we need to make it happen.</p>
    <p>Please in case you didn't before update your phone number and information at this link: <%= link_to t('nav.settings'), edit_user_path(current_user) %></p>
    <br /><br />
    <%= link_to "Confirm", like_user_knoks_path(@user), class: "btn btn-primary btn-lg float-right" %>
</div>
</div>
