<div class="columns">
	<div class="column col-12 centered">
		<h3>Tell us what inspire you.</h3>
		<p>Choose at least 3 interest and we'll suggest you people based on your choices.</p>
    <%= render partial: "tags/select", locals: {tags: @mostused} %>
	</div>
</div>
