.welcome{
  background:image-url("login-bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .main, header{
  	background:none;
  }
}

.sign-up{
	.sign-box{
		position: fixed;
		top: 0;
		right: 0;
		width: 35%;
		background:#FFF;
		height: 100%;
		z-index: 1;
		padding: 2em 7em 0 5em;
		.form-group:not(:last-child) {
    	margin-bottom: 1.2rem;
		}
	}
}
.headline{
	margin-top:25em;
  text-align: left;
  h1{
    color: $main_color;
    font-size: 6.5rem;
    line-height: 7rem;
    background: #FFF;
    margin-bottom: 0;
    display: inline-block;
    padding: 0.5rem 2.5rem;
    font-weight: bold;
  }
  p{
    color: #FFF;
    font-size: 2rem;
    margin-top: 0.3rem;
  }
}
.terms-text{
  font-size: 0.7em; 
  margin-bottom: 2em;
  margin-top: 1rem;
}
.form-radio-btn{
  input[type=radio] {
    display: none;
  }
  label{
    width: 50%;
    display: block;
    border: .2rem solid #c5c5c5;
  }
  input[type=radio] + label {
    color: $main_color;
    height: 4.2rem;
    line-height: 2.1em;
    font-size: 1.8rem;
    text-align: center;
    float: left;
  } 
  input[type=radio]:checked  + label {
    color:#FFF;
    background: #c5c5c5;
  }
  label.left{
     border-top-left-radius: 0.3rem;
     border-bottom-left-radius: 0.3rem;
  }
  label.right{
     border-top-right-radius: 0.3rem;
     border-bottom-right-radius: 0.3rem;
     border-left:0;
  }
}

@media screen and (max-width: 1280px) {
  .sign-up{
		.sign-box{
				width: 40%;
				padding: 2em 7em 0 5em;
		}
	}
}

@media screen and (max-width: 960px) {
	.sign-up{
		.sign-box{
				width: 50%;
				padding: 2em 2em;
		}
	}
}

@media screen and (max-width: 480px) {
	.headline{
		margin-top: 0;
	}
	.sign-up{
		.sign-box{
			position: relative;
			top: auto;
			right: auto;
			width: 100%;
			background:#FFF;
			height: auto;
			z-index: 1;
			padding:1em 1em;
			.form-group:not(:last-child) {
	    	margin-bottom: 1.2rem;
			}
		}
	}
}