/***ERRORS***/

.field_with_errors {
	width: 100%;
}
.swal2-modal {
	padding: 2.5em 0;
}
.swal2-modal .swal2-image{
	margin:0 auto;
}
#error_explanation {
	width:100%;
  h2{display:none;}
  ul{padding: 0; margin: 0;margin-bottom: 20px; list-style: none;}
  li{
  	padding: 10px;
    padding-left: 20px;
    border-radius: 3px;
    margin: 0;
    background-color: #ff0000;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;}
}

/***TITLE***/

.title-line{
	font-weight:bold;
	color: $title-color;
	a{
		text-transform:none;
		font-weight: normal;
	}
	&.no-line{
		&:after{
			display: none;
		}
	}
	&:after{
		content: " ";
		position: relative;
		width: 100%; height:1px;
		background: #f2f2f2;
		display: block;
		margin-top: 0.5rem;
	}
}
.mr-30{
	margin-right:3rem;
}
.inline{
	float: left;
	width:45%;
	margin-right:5%;
}
.inline.right{
	margin-right:0;
  width: 50%;
}
.input-text-area{
	min-height:100px;
}

.aligner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 24em;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height:90vh;
}
.mtn-40{
	margin-top:-40px;
}
.bg-auth{
	footer{
		text-align:center;
		a{
			text-decoration: none;
		}
	}
}
/***PAGINATION***/
.pagination{
	width:100%;
	text-align:center;
	a, span, em{
		visibility: hidden;
	}
}


.hide-footer{
	footer{
		display: none;
	}
}