<section class="main">
	<div id="center-side" class="users-layout">
		<p class="title-line no-line">Best 10 matches in <%= current_user.full_street_address %> ready to meet-up!</p>
		<div class="cards-list" id="users-list" data-turbolinks-partial="users">
			<%= render @users %>
		</div>
	</div>
</section>
