<section class="Cards CardsContainer">
    <% if @users.empty? %>
      <p class="center"><%= t('.no_match_msg_htm')%><a href="mailto:info@blendinnow.nl">info@blendinnow.nl</a></p>
    <% end %>
    <% @users.each do |user| %>
      <%= render 'users/card', user: user %>
    <% end %>
</section>
<div class="clearfix center col-12">
  <div class="paginate-link">
    <%= link_to_prev_page @users, t('.prev_link') %>
    <%= link_to_next_page @users, t('.next_link') %>
  </div>
</div>
