<section class="sign-up columns">
	<div class="column col-7">
		<h1 class="mb-0">Beeries are in town.</h1>
		<h4 class="mt-10">Berry helps you to connect with people that share your same interests.</h4>
		<%=  image_tag("berry-sign-up.png", class: "sign-up-image")  %> 
	</div>
	<div class="column col-5">
		<h2 class="text-bold">Create a new account <span>It's free!</span></h2>
		<%= render "devise/registrations/form" %>
	</div>
</section>

