<div class="list-group mb-3" id="list-tab" role="tablist">
  <%= active_link_to t('.profile'), settings_profile_path, class: "list-group-item list-group-item-action" %>
  <%= active_link_to t('.photo'), settings_photo_path, class: "list-group-item list-group-item-action" %>
  <%= active_link_to t('.community'), settings_community_path, class: "list-group-item list-group-item-action" %>
</div>
