<div class="row">
  <div class="col-md-3">
    <%= render 'settings/navigation' %>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header mb-2">
        Profile Photo
      </div>
      <div class="card-body">
        <%= render 'settings/photo_form' %>
      </div>
    </div>
  </div>
</div>
