<section class="Cards CardsContainer">
  <% @blends_i_sent.each do |blend| %>
      <%= render 'users/card', user: blend.recipient %>
  <% end %>
  <% @blends_i_received.each do |blend| %>
    <%= render 'users/card', user: blend.sender %>
  <% end %>

  <% if @blends_i_sent.empty? && @blends_i_received.empty? %>
    <p><%=t('.no_blend_msg') %><%= link_to t('.no_blend_msg_link'), root_url %></p>
  <% end %>
</section>
