<section class="jumbotron main-color-bg" style="">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('.title') %></h1>
    <p class="lead"><%= t('.lead') %></p>
  </div>
</section>

<div class="container">
  <div class="row">
    <!-- <div class="col-lg-4">
      <div class="card">
        <div class="card-header mb-3">
          Blendin Culture Pass
        </div>
        <%= image_tag("blendin-pass.png", class: "card-img-top", style:"width: 70%; margin: 0 auto;") %>
        <div class="card-body">
          <p class="card-text">Met de Blendin Pas kunnen nieuwkomers in hun eigen tijd bezoeken brengen aan culturele instanties die partner zijn van Blendin (Stedelijke Museum Amsterdam, Het Nationale Opera & Ballet, het Van Gogh Museum, het Rijksmuseum, EYE Film Museum Amsterdam en Cineville zijn dit al). We zijn druk bezig deze pas te realiseren.</p>
        </div>
      </div>
    </div> -->
    <div class="col-lg-8">
      <div class="card typeform-widget" data-url="https://codegull.typeform.com/to/NGRKYT" style="width: 100%; height: 65vh"></div>
      <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>
  </div>
