<section class="jumbotron text-center" style="background: #FFF  url(<%= asset_path 'network/hero-network-blendin.jpg' %>) no-repeat top center; background-size:cover; color:#FFF; padding: 6rem 0;">
  <div class="container">
    <h1 class="jumbotron-heading display-4">DoneerJeNetwerk</h1>
  </div>
</section>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-8">
      <p class="lead mb-5">
        Een netwerk is cruciaal om aan een baan te komen in Nederland.
        <br><br>Blendin koppelt nieuwkomers die werk zoeken aan een Netwerk Donateur op basis van sector en locatie. Als we een match vinden gaan je met een Netwerk Donateur  een traject in van 3 maanden. De Netwerk Donateur zoekt binnen zijn of haar netwerk naar nuttige contacten voor jou en helpt je bij het voorbereiden van netwerkgesprekken. Zo vergroot je jouw netwerk en je kans op het vinden van een passende baan.
        <br><br>Ben jij een nieuwkomer en ben je nu op zoek naar een baan? Weet je in welke sector je wilt werken? Spreek je B1 Nederlands of vloeiend Engels?  Meld je dan nu aan.
      </p>
      <div class="card typeform-widget" data-url="https://codegull.typeform.com/to/FGUGES" style="width: 100%; height: 65vh"></div>
      <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>
</div>
