<div class="row">



  <div class="col-sm-12">
	  <div class="panel panel-default panel-table">
	    <div class="panel-heading">
	    	Blend requests
    	   <span class="panel-subtitle">tot: <%= @blend_grid.assets.count %></span>
	    </div>
	    <div class="panel-body">
	    	<div class="be-datatable-body">
						<%= datagrid_table(@blend_grid, html: {class: 'table table-striped table-hover table-fw-widget dataTable no-footer'}) %>
					</div>
					<div class="be-datatable-footer">
						<%= will_paginate @blend_grid.assets %>
					</div>
	    </div>
	  </div>
	</div>


</div>
