.Button{
  background: #FFFFFF;
  border: 2px solid #74CCD1;
  box-sizing: border-box;
  border-radius: 8px;
  color: #74CCD1;
  font-size: 1.1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  outline: none;
  padding: 0.7em 1em;
  cursor: pointer;
  text-decoration: none;
}

.Button:hover{
  background: #74CCD1;
  color: #FFF;
}

.Button.full{
  background: #74CCD1;
  border: 2px solid #74CCD1;
  color: #FFF;
}
.Button.full.back{
  background: #dadada;
  border: 2px solid #c4c4c4;
  color: #8a8a8a;
}

.Button.center{
  margin: 2em auto !important;
  display: block;
}

.Button.accept{
  background: #25d366;
  border: 2px solid #25d366;
  color: #FFF;
}
.Button.accept:hover{
  background: rgba(37, 211, 102, 0.8);
}

.Button.refuse{
  background: #fc3838;
  border: 2px solid #fc3838;
  color: #FFF;
}
.Button.refuse:hover{
  background: rgba(252, 56, 56, 0.67);
}

.BlendBtn{
  display: inline-block;
  margin: 0.5em 0;
  width: auto;
  background: #74CCD1;
  color:#FFF;
  text-align: center;
  text-decoration: none;
}
.Button:hover{
  background: #6fdce3;
  color: #FFF;
}

.WhatsApp{
  width: 100%;
  display: block;
  color: #FFF;
  background: #25d366;
  border: 2px solid #25d366;
  text-decoration:none;
  margin: 1em 0;
  text-align: center;
}

.WhatsApp:hover{
  background: #1bcd5d;
}

.Close {
  color: #999999;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  font-size: 2em;
  border: 0;
  background: transparent;
}
.Close:after {
  content: '✖'; /* UTF-8 symbol */
}

@media only screen and (min-width: 40em) {

  .Button{
    padding: 0.9em 1.3em;
  }
}
