.DashboardSideContainer {
  padding: 30px 20px;
}

.BlendinPassContainer {
  height: 300px;
  width: auto;
  background-color: #77CCCF;
  border-radius: 14px;
  position: relative;
}

.GetMyPassBtn {
  height: 60px;
    width: 230px;
    background-color: #fd72a6;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 14px;
    color: white;
    font-size: 26px;
}


.GetMyPassBtn p {
  
}
