.event-card {
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  padding: 11px;
  margin-bottom: 20px;
}

.event-normal-card-img {
  width: auto;
  height: 160px;
  margin-right: 10px;
  max-width: 160px;
  min-width: 160px;
  background-size: cover;
  background-position: center;
}

.event-normal-card-text {}
