.topnav {
  overflow: hidden;
  float: right;
  position: relative;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-decoration: none;
  color: #282828;
  font-size: 16px;
  position: relative;
  font-weight: 400;
  letter-spacing: -.03em;

}

.topnav a span {
  border-bottom: 8px solid transparent;
  padding-bottom: 1px
}

/* Change the color of links on hover */
.topnav a span:hover {
  border-bottom: solid 8px #77CCCF;
}

.active-topnav-link > span {
  border-bottom: solid 8px #77CCCF !important;
}

/*Style the notification icon*/
#notification {
  position: absolute;
  top: 3px;
  right: 0;
  background-color: orange;
  border-radius: 30%;
  width: 10px;
  height: 10px;
  font-size: 0.6em;
  color: white;
  font-weight: bold;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.topnav .lang-lnk{
  padding: 13px 10px;
}
.right-border{
  border-right: 1px solid #ccc;
}

@media only screen and (max-width: 64em) {
  .responsive {
    width: 100%;
    position: relative;
  }
  .topnav a{
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    padding: 1em;
    margin: -1em -0.5em;
  }
  .responsive .topnav {
    width: 100% !important;
    border-bottom: 1px solid grey;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
  }
  .responsive .topnav a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive .topnav a {
    float: none;
    padding-left: 0;
    display: block;
    text-align: left;
  }
  .right-border{
    border-right: 0;
  }

  #notification {
    top: 66px;
    left: 85px;
  }
}


@media only screen and (max-width: 64em) {
  #toggle-nav
{
    margin-top: 3px;
  }
}
