.NetworkPage{
  margin:3em 1em;
}

.NetworkPage ul {
  padding: 0;
  list-style: none;
}

.NetworkPage li {
  margin-bottom:1.3em;
}

@media only screen and (min-width: 40em) {
  .NetworkPage{
    margin:3em 0 5em 0;
  }
}


/*.logo img:last-child {

  height: 68px;
  float: right;

}*/



.logo div img {

  width: 90%;

}

/*#doneer-logo {
  height: 68px;
}*/
