$font: 'kitten_swashregular'; 
$main_color: #74ccd1;
$main_over: #0faeb7;
$border-color: #3d8184;

//Errors
.field_with_errors {
	width: 100%;
}

#error_explanation {
  h2{display:none;}
  ul{padding: 0; margin: 0;margin-bottom: 20px; list-style: none;}
  li{    padding: 10px;
    padding-left: 20px;
    border-radius: 3px;
    margin: 0;
    background-color: #ff0000;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;}
}

/*LAYOUT*/
#center-side{
  margin-left: 15em;
  width: 65%;
  margin-top: 1em;
  float: left;
  margin-bottom: 4em;
}
#right-side{
  float: left;
  width: 30%;
  background: red;
  min-height: 3em;
}
/*NOTIFICATION*/
.notice-layout {
  position: fixed;
  overflow: hidden;
  top:0;
  left:0;
  width: 100%;
}

.notification{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 5;
}