.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 14px 10px !important;
    background: #e51314 !important;
    color: #fff5f5 !important;
    border: 2px solid #c03737 !important;
    font-size: 16px;
}
.selectize-control.multi .selectize-input > div.active {
    background: #c03737 !important;
}
.berry-tag {
    cursor: pointer;
    margin: 5px 3px 3px 0;
    padding: 14px 10px !important;
    background: #e51314 !important;
    color: #fff5f5 !important;
    border: 2px solid #c03737 !important;
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
    -webkit-font-smoothing: inherit;
}
.selectize-control.multi.plugin-remove_button .selectize-input > div{
    padding-right: 22px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove{
    padding: 4px 0 0 0 !important;
}
.form-add-berries{
    margin:2rem 0;
}