@font-face {
    font-family: 'kitten_swashregular';
    src: font-url('kittenswashtrial-webfont.woff2') format('woff2'),
         font-url('kittenswashtrial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}