
@import "bootstrap";

body{
  font-family:  'Montserrat', sans-serif;
  background-color: #f2f2f2;
}

.fb-btn{
  background-color: #3B5998;
  font-size: 1.2em;
}

.navbar {
  background-color: #FFF;
  .fa-user-circle{
    font-size: 1.5em;
  }
}

.main-color-bg{
  background-color: #73cbd1;
}
