#search-bar{
    background: #FFF;
    position: absolute;
    top: 25px;
    left: 16.3em;
    width: 60%;
    background: rgba(255,255,255,0.9);
    border: 1px solid rgba(0,0,0,0);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    max-width: 720px;
    position: relative;
    -webkit-transition: background 100ms ease-in,width 100ms ease-out;
    transition: background 100ms ease-in,width 100ms ease-out;
    .selectize-input{
        padding: 10px 0 2px 7px;
    }
    .selectize-input > input{
        font-size: 15px !important;
    }
    .selectize-control.multi .selectize-input > div {
        cursor: pointer;
        margin: -3px 3px 0px 0;
    }
    .selectize-control.multi .selectize-input > div{
        font-size: 15px;
        border: 2px solid #c03737 !important;
        color: #fff !important;
        padding: 12px 27px 12px 10px !important;
    }
}