<div class="card">
  <div class="card-header">
    Location
  </div>
  <div id="mapid" style="height: 330px; width: 100%"></div>
  <div class="card-body">
    <p class="card-text"><b>Address:</b> <%= @event.address %></p>
  </div>
</div>
