<div class="sm-col-7 lg-col-7 mx-auto mb4">
  <div class="flex center tabs">
    <div class="flex-auto tab">
      <%= active_link_to t('.profile'), wizard_path %>
    </div>
    <div class="flex-auto tab">
      <%= active_link_to t('.photo'), upload_photo_path %>
    </div>
    <div class="flex-auto tab">
      <%= active_link_to t('.settings'), edit_user_registration_path %>
    </div>
  </div>
</div>
